NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

NEXT_PUBLIC_DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

HASURA_GRAPHQL_ADMIN_SECRET=

NEXT_PUBLIC_GRAPHQL_URL=http://localhost:8080/v1/graphql
NEXT_PUBLIC_WEB3AUTH_CLIENTID=
NEXT_PUBLIC_RPC_TARGET=https://polygon-mumbai.g.alchemy.com/v2/<KEY>
NEXT_PUBLIC_NETWORK=mumbai
